<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>Google Maps - gmplot</title>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=visualization"></script>
<script type="text/javascript">
    function initialize() {
        var map = new google.maps.Map(document.getElementById("map_canvas"), {
            zoom: 3,
            center: new google.maps.LatLng(30.000000, 0.000000)
        });

        new google.maps.visualization.HeatmapLayer({
            threshold: 10,
            radius: 20,
            maxIntensity: 1,
            opacity: 0.600000,
            dissipating: true,
            map: map,
            data: [
                new google.maps.LatLng(50.976950, 11.327870),
                new google.maps.LatLng(45.467960, 9.181780),
                new google.maps.LatLng(16.434780, 102.836070),
                new google.maps.LatLng(23.379380, 79.443327),
                new google.maps.LatLng(18.776096, 100.773935),
                new google.maps.LatLng(40.114047, -89.158651),
                new google.maps.LatLng(41.013840, 28.949660),
                new google.maps.LatLng(39.971985, -74.283770),
                new google.maps.LatLng(18.776096, 100.773935),
                new google.maps.LatLng(40.714550, -74.007140),
                new google.maps.LatLng(18.776096, 100.773935),
                new google.maps.LatLng(51.045320, -114.063010),
                new google.maps.LatLng(-6.893000, 107.585660),
                new google.maps.LatLng(18.776096, 100.773935),
                new google.maps.LatLng(18.776096, 100.773935),
                new google.maps.LatLng(18.776096, 100.773935),
                new google.maps.LatLng(18.776096, 100.773935),
                new google.maps.LatLng(40.438510, -79.997340),
                new google.maps.LatLng(39.398703, -99.414619),
                new google.maps.LatLng(18.776096, 100.773935),
                new google.maps.LatLng(28.630950, 77.217210),
                new google.maps.LatLng(9.593697, 8.106778),
                new google.maps.LatLng(29.953700, -90.077750),
                new google.maps.LatLng(39.398703, -99.414619),
                new google.maps.LatLng(-25.676450, 28.273780),
                new google.maps.LatLng(18.776096, 100.773935),
                new google.maps.LatLng(18.776096, 100.773935),
                new google.maps.LatLng(18.776096, 100.773935),
                new google.maps.LatLng(18.776096, 100.773935),
                new google.maps.LatLng(42.074698, -93.499972),
                new google.maps.LatLng(18.776096, 100.773935),
                new google.maps.LatLng(18.776096, 100.773935),
                new google.maps.LatLng(18.776096, 100.773935),
                new google.maps.LatLng(18.940170, 72.834830),
                new google.maps.LatLng(53.993751, -1.543098),
                new google.maps.LatLng(24.905600, 67.082200),
                new google.maps.LatLng(3.147890, 101.694050),
                new google.maps.LatLng(18.776096, 100.773935),
                new google.maps.LatLng(35.585380, -78.799830),
                new google.maps.LatLng(40.991547, -72.532980),
                new google.maps.LatLng(43.648690, -79.385440),
                new google.maps.LatLng(39.952220, -75.162180),
                new google.maps.LatLng(38.627750, -90.199560),
                new google.maps.LatLng(30.583330, 114.266670),
                new google.maps.LatLng(13.557925, 99.272416),
                new google.maps.LatLng(18.776096, 100.773935),
                new google.maps.LatLng(18.776096, 100.773935),
                new google.maps.LatLng(47.383350, 6.069380),
                new google.maps.LatLng(25.726580, 85.309050),
                new google.maps.LatLng(40.714550, -74.007140),
                new google.maps.LatLng(35.156730, -98.442520),
                new google.maps.LatLng(9.593697, 8.106778),
                new google.maps.LatLng(68.358290, -133.724560),
                new google.maps.LatLng(40.227950, -3.646063),
                new google.maps.LatLng(48.857170, 2.341400),
                new google.maps.LatLng(23.379380, 79.443327),
                new google.maps.LatLng(18.776096, 100.773935),
                new google.maps.LatLng(18.776096, 100.773935),
                new google.maps.LatLng(7.188100, 21.093750),
                new google.maps.LatLng(35.367660, 24.706850),
                new google.maps.LatLng(44.049920, -123.088540),
                new google.maps.LatLng(28.634100, 77.216890),
                new google.maps.LatLng(3.901116, -73.075755),
                new google.maps.LatLng(18.776096, 100.773935),
                new google.maps.LatLng(18.776096, 100.773935),
                new google.maps.LatLng(18.776096, 100.773935),
                new google.maps.LatLng(37.043960, -122.149920),
                new google.maps.LatLng(9.593697, 8.106778),
                new google.maps.LatLng(51.507408, -0.127699),
                new google.maps.LatLng(18.776096, 100.773935),
                new google.maps.LatLng(18.776096, 100.773935),
                new google.maps.LatLng(33.537370, -86.940650),
                new google.maps.LatLng(23.379380, 79.443327),
                new google.maps.LatLng(18.776096, 100.773935),
                new google.maps.LatLng(18.776096, 100.773935),
                new google.maps.LatLng(39.919807, -86.281793),
                new google.maps.LatLng(23.350600, 85.313780),
                new google.maps.LatLng(18.776096, 100.773935),
                new google.maps.LatLng(43.648690, -79.385440),
                new google.maps.LatLng(55.756960, 37.615020),
                new google.maps.LatLng(60.171160, 24.932650),
                new google.maps.LatLng(47.505189, -111.304942),
                new google.maps.LatLng(4.715250, -74.210360),
                new google.maps.LatLng(45.440970, -76.204700),
                new google.maps.LatLng(18.776096, 100.773935),
                new google.maps.LatLng(18.776096, 100.773935),
                new google.maps.LatLng(7.387780, 3.896390),
                new google.maps.LatLng(27.039410, 88.263870),
                new google.maps.LatLng(18.776096, 100.773935),
                new google.maps.LatLng(46.961840, -116.942670),
                new google.maps.LatLng(11.691560, 79.287270),
                new google.maps.LatLng(42.945524, -78.799931),
                new google.maps.LatLng(18.776096, 100.773935),
            ]
        });

    }
</script>
</head>
<body style="margin:0px; padding:0px;" onload="initialize()">
    <div id="map_canvas" style="width: 100%; height: 100%;" />
</body>
</html>
